<script>

  <%= render :partial => '/message/mailbox/message_javascript', :locals =>  view_data  %>


</script>

<div class='mailbox'>

<div id='mailbox_details'>
    <%= render :partial => partial, :locals => view_data %>
</div>

</div>
