<script>
  <%= render :partial => '/message/mailbox/message_javascript', :locals =>  view_data  %>
</script>

<div class='mailbox' id='mailbox_container'>
   <div id='mailbox_details'>
       <%= feature_output %>
   </div>
</div>
