<div class='cms_form'>
<%  paragraph_options_form_for :notify do |f| -%>
  <%= f.select :mailbox_page_id, SiteNode.page_options %>
  <%= f.select :text_message_page_id, SiteNode.page_options %>
  <%= f.radio_buttons :overlay, [['Yes','yes'],['No','no']] %>
<% end -%>
</div>
