<% action_panel do |p| -%>
  <%= p.link 'Create Template',:action => 'edit', :icon => 'add.gif' %>
<% end -%>

<hr/>

<div class='admin_content'>

  <div id='message_templates_table'>
    <%= render :partial => 'message_templates_table' %>
  </div>
</div>
